<!DOCTYPE html>
<html ng-app="{% block ng-app %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RaspiManager</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/jquery.file-tree.css">
        <link rel="stylesheet" href="/static/css/subnav.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/prettify.css">

        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body onload="prettyPrint()">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <i class="icon-reorder icon-large icon-white"></i>
                    </a>
                    <a class="logo" href="/"></a>
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                        <ul class="nav">
                            <li><a href="{% url modules %}">Modules</a></li> 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench icon-white"></i> Manage <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url manage_system %}">System</a></li>
                                    <li><a href="{% url manage_media %}">Media</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i> Documentation <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Configuration</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Walk-Throughs</li>
                                    <li><a href="{% url walkthroughs %}#system">System Management</a></li>
                                    <li><a href="{% url walkthroughs %}#minidlna">MiniDlna</a></li>
                                    <li><a href="{% url walkthroughs %}#file">File Server</a></li>
                                    <li><a href="{% url walkthroughs %}#xbmc">XBMC</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <script src="/static/js/vendor/angularsrc/angular.js"></script>
        <script src="/static/js/vendor/angularsrc/angular-resource.js"></script>
        <script src="/static/js/vendor/angularsrc/angular-bootstrap.js"></script>
        <script src="/static/js/vendor/angularsrc/angular-bootstrap-prettify.js"></script>

        <script src="/static/js/vendor/jquery-1.9.0.min.js"></script>
        <script src="/static/js/vendor/jquery.cookie.js"></script>

        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script src="/static/js/vendor/prettify/prettify.js"></script>
        <script src="/static/js/vendor/jquery.file-tree.js"></script>
        <script src="/static/js/subnav.js"></script>

        <script src="/static/js/main.js"></script>
        <script src="/static/js/directives/form.js"></script>

        <script src="/static/js/app.system.js"></script>
        <script src="/static/js/app.media.js"></script>

        <script src="/static/js/controller.system.js"></script>
        <script src="/static/js/controller.media.js"></script>


    </body>
</html>