

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
    background-image: url(/static/img/logo.png);
    background-repeat: no-repeat;
    padding: 0;
    margin: 4px 20px 0 0;
    height: 32px;
    width: 25px;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
}


.nav-well {
    padding: 8px 0;
}

.help-block {
    color: #AAA;
    font-style: italic;
    font-size: 10pt;
}


/* ==========================================================================
   Management
   ========================================================================== */

.collections {
    margin-top: 20px;
}

.file-browser-well {
    max-height: 150px;
    overflow-y: auto;
}

.drive-usage {
    margin-bottom: 0;
}

/* ==========================================================================
   Documentation
   ========================================================================== */
@media (min-width: 1200px) {
    .docs-sidenav {
        width: 258px;
    }
    .docs-sidenav > li > a {
        width: 230px;
    }
}

.docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.docs-sidenav.affix {
    top: 40px;
}

.docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}